'''''
{
"title": "Python Lösungen - Daten einlesen",
"keywords": "python, Datenbeschaffung ",
"categories": "",
"description": "Hier werden unterschiedliche Methoden aufgezeigt wie Remote Datensätze lokal verfügbar gemacht werden können",
"level": "10",
"pageID": "15112020-Daten Einlesen"
}
'''''

# Data-Read-in
Hier werden die Daten in ein möglich zu bearbeitendes Frame eingelesen.<br>
Die Input Dateiein können offensichtlich csv-Dateien sein, aber auch keine offensichtliche Dateiendung besitzen.(vgl bsp bei pandas mit dem Iris dataset: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/).

Um Daten von Remote Ablageorten loakl zu speichern gibt es unterschiedliche [Möglichkeiten](./00_DatenBeschaffung-Download.ipynb)

# Laden eines Datensatzes, der lokal abgelegt ist

In [1]:
# Laden des Datensatzes mit csv
import csv
import pandas as pd

## Pandas

In [12]:
# davor mit einem editor (bspw notpad++) sich kurz einen überblick über die Datei beschaffen
dataOrig=pd.read_csv('./data/spam.csv',delimiter=',',encoding='utf-8')

In [13]:
dataOrig.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

Pandas mit file ohne dateiendung

In [14]:
dataIris=pd.read_csv('C:/Users/1810837475/Desktop/Repos/Basic-DataScience-Skills/Sample-Projects/Iris/data/iris.data',delimiter=',',encoding='utf-8')
dataIris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

## Numpy

In [15]:
import numpy as np
npData = np.genfromtxt('./data/spam.csv',delimiter=',')
print(npData)

[[ 3.0000e+00         nan         nan ...  2.1000e+01  2.7000e+01
   1.3495e+04]
 [ 3.0000e+00         nan         nan ...  2.1000e+01  2.7000e+01
   1.6500e+04]
 [ 1.0000e+00         nan         nan ...  1.9000e+01  2.6000e+01
   1.6500e+04]
 ...
 [-1.0000e+00  9.5000e+01         nan ...  1.8000e+01  2.3000e+01
   2.1485e+04]
 [-1.0000e+00  9.5000e+01         nan ...  2.6000e+01  2.7000e+01
   2.2470e+04]
 [-1.0000e+00  9.5000e+01         nan ...  1.9000e+01  2.5000e+01
   2.2625e+04]]

## csv reader
vermeide das, das ist sau blöd: https://realpython.com/python-csv/

# Laden eines Datensatzes, aus einem  dritten Paket/Bibliothek heraus
in dem Beispiel lade ich aus dem mnist datensatz, konkret heist das, dass in dem Packet Keras Testdatensätze wie bspw mnist hinterlegt sind, welche per methode aufgerufen und dann verwendet werden können.

In [3]:
from keras.datasets import mnist
(x_train, y_train), (x_test, y_test) = mnist.load_data()

Using TensorFlow backend.